.add-recipe > div{
	margin-bottom: 2%;
}

.add-recipe label{
	font-size: 32px;
	margin-right: 1%;
}

.add-recipe .input{
	width: 45%;
	font-size: 32px;
	border-radius: 50px;
	padding: 5px 20px;
	background-color: rgba(255, 255, 255, 0.336);
	border: 2px solid white;
	color: white;
	transition: all 0.3s;
}

.add-recipe .input:hover{
	background-color: rgba(255, 255, 255, 0.423);
}

.add-recipe .input:focus{
	background-color: rgba(255, 255, 255, 0.423);
}

.add-recipe select{
	font-size: 32px;
	padding: 5px 20px;
	background-color: rgba(255, 255, 255, 0.336);
	border: 2px solid white;
	color: white;
	border-radius: 50px;
	transition: all 0.3s;
}

.add-recipe select:hover{
	background-color: rgba(255, 255, 255, 0.423);
}

.add-recipe select:focus{
	background-color: rgba(255, 255, 255, 0.423);
}

.add-recipe option{
	color: black;
}

.add-recipe input::placeholder{
	color: rgba(255, 255, 255, 0.801);
}

.add-recipe__ingredients{
	display: flex;
	flex-direction: column;
}

.add-recipe__ingredients label{
	margin-bottom: 2%;
}

.add-recipe__ingredients > div{
	display: flex;
	flex-direction: column;
}

.add-recipe__ingredients > div input, select{
	margin-bottom: 2%;
}

.add-recipe__ingredients button{
	font-size: 32px;
}

.add-recipe textarea{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.336);
	border: 2px solid white;
	color: white;
	font-size: 24px;
	resize: none;
	border-radius: 7px;
	padding: 5px 5px;
	height: 100px;
}

.add-recipe .file-img{
	font-size: 24px;
}

.add-recipe__button{
	font-size: 32px;
	width: 100%;
}

@media (max-width: 815px) {
	.add-recipe label{
		font-size: 24px;
	}
	
	.add-recipe .input{
		font-size: 24px;
	}
	
	.add-recipe select{
		font-size: 24px;
	}
	
	.add-recipe__ingredients button{
		font-size: 24px;
	}
	
	.add-recipe textarea{
		font-size: 20px;
	}
	
	.add-recipe .file-img{
		font-size: 20px;
	}
	
	.add-recipe__button{
		font-size: 24px;
		width: 100%;
	}
}