@import url(../__button/css/button.css);
@import url(../__title/css/title.css);

.main-recipes{
	width: 100%;
	height: 710px;
	background-image: linear-gradient(90deg, black 0,rgba(0, 0, 0, 0) 100%), url(/img/main-recipes/flat-lay-food-ingredients-with-recipe-veggies.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}